.project {
  width: 80vw;
  height: 80vh;
  background-color: var(--lighter-text-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 2rem;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

@media (min-width: 1000px) {
  .project {
    width: 40vw;
  }
}

.project h1 {
  font-size: 1.5rem;
  font-weight: 400;
  width: 90%;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--accent-color);
}

.text {
  display: grid;
  justify-items: center;
  gap: 1rem;
}

.project img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.project p {
  max-width: 90%;
  font-size: 1.3rem;
  font-weight: 100;
}

.project-tag-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
}

.project-tag {
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.projectLinkContainer,
.projectLinkContainer a {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 650px) {
  .projectLinkContainer a {
    width: 90%;
    gap: 0.5rem;
    font-size: 1rem;
  }
  .project h1 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 1rem;
  }

  .project-tag-container {
    font-size: 0.8rem;
  }
}
