.blurBackground {
  position: relative;
}

.blurBackground > * {
  position: relative;
}

.blurryElement {
  top: -50px;
  left: -20px;
  position: absolute;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  filter: blur(20px);
}

@media (max-width: 650px) {
  .blurryElement {
    width: 100vw;
  }
}
