.footer {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}
