@font-face {
  font-family: 'PP Neue Montreal Bold';
  src: url('/PPNeueMontreal-Bold.otf') format('otf');
}

@font-face {
  font-family: 'PP Neue Montreal Italic';
  src: url('/PPNeueMontreal-Italic.otf') format('otf');
}
@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url('/PPNeueMontreal-Medium.otf') format('otf');
}
@font-face {
  font-family: 'PP Neue Montreal SemiBoldItalic';
  src: url('/PPNeueMontreal-Book.otf') format('otf');
}
@font-face {
  font-family: 'PP Neue Montreal Thin';
  src: url('/PPNeueMontreal-Thin.otf') format('otf');
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: rgb(243, 245, 248);
    --text-color: rgb(0, 8, 26);
    --lighter-text-color: rgb(7, 23, 60);
    --accent-color: rgb(11, 188, 191);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(0, 8, 26);
    --text-color: rgb(229, 233, 243);
    --accent-color: rgb(84, 252, 255);
  }
}
:root {
  --border-radius: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  font-family: 'PP Neue Montreal Medium', sans-serif;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  max-width: 700px;
  min-height: 100vh;
}

@media (max-width: 650px) {
  section {
    padding-inline: 1rem;
  }
}

body,
h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.hero {
  display: grid;
  place-items: center;
}

.hero .title {
  z-index: 999;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.blur-background {
  position: relative;
}

.blur-background > * {
  position: relative;
}

.blurry-element {
  top: -100px;
  left: -100px;
  position: absolute;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  filter: blur(20px);
}

@media (max-width: 650px) {
  .blurry-element {
    width: 100vw;
  }
}

.hero h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--accent-color);
}

.hero h2 {
  font-family: 'PP Neue Montreal Thin', sans-serif;
  font-size: 2.7rem;
  font-weight: 100;
}

.iconfall-container {
  position: absolute;
  height: 300vh;
  width: 100vw;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .iconfall-container {
    width: 1000px;
  }
}

.button {
  padding: 1rem;
  border-radius: var(--border-radius);
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.light {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark {
  background-color: var(--text-color);
  color: var(--background-color);
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.8);
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.hero-buttons > a:first-child {
  text-decoration: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.icon-buttons {
  display: flex;
  gap: 1rem;
}

.toast {
  position: absolute;
  top: 40px;
  left: 60px;
  opacity: 0;
  background-color: var(--text-color);
  border-radius: 0 var(--border-radius) var(--border-radius)
    var(--border-radius);
  padding: 1rem;
  color: var(--background-color);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--accent-color);
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.5rem;
}

@media (min-width: 650px) {
  .tools {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.grid h2 {
  font-weight: 400;
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 1rem;
}

.grid ul {
  padding: 0;
}

.grid li {
  list-style: none;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .grid h2 {
    font-weight: 400;
    border-bottom: 1px solid var(--accent-color);
    padding-bottom: 1rem;
    font-size: 1.2rem;
  }
}

.projects-container {
  position: relative;
  height: 300vh;
  max-width: 90vw;
}

.projects-container-inner {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.horizontal-scroll-container {
  display: flex;
  gap: 1rem;
  padding-left: 15rem;
}

.project {
  width: 80vw;
  height: 80vh;
  background-color: var(--lighter-text-color);
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .project {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  .horizontal-scroll-container {
    padding-left: 0rem;
  }
}

.project h1 {
  font-size: 1.5rem;
  font-weight: 200;
  width: 90%;
}

.project img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.project p {
  max-width: 90%;
  font-size: 1.5rem;
  font-weight: 100;
}

.project-tag-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 0.9rem;
}

.project-tag {
  background-color: var(--accent-color);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.project-link-container,
.project-link-container a {
  display: flex;
  gap: 1rem;
  width: 90%;
}

@media (max-width: 650px) {
  .project h1 {
    font-size: 1.5rem;
  }

  .project p {
    font-size: 1rem;
  }

  .project-tag-container {
    font-size: 0.8rem;
  }

  .project-link-container a {
    font-size: 1rem;
  }
}

.tools {
  position: relative;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
